



<div class="row" ng-if="!isLogged">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Home</h1>
        <ul>
            <li>
                <a href="#/login">Login</a>
            </li>
            <li>
                <a href="#/register">Register</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>

<div ng-if="isLogged">
    <div ng-include src="'views/partials/header.html'">

    </div>

    

    <div class="row" ng-if="showNormalHomeView">

        <div id="navMessage">
            <h1>News Feed</h1>
        </div>

        <div class="col-md-8">

        </div>
        <div class="col-md-4" id="friends">
            <div>
                Friends - <a href="#/friends">{{friends.length}}</a> Total
            </div>
            <ul>
                <li ng-repeat="friend in friends" ng-click="viewProfile(friend.username)">
                    <img ng-src="{{friend.profileImageData}}" src="../images/black.gif" width="100" height="100" />
                    <span class="friendsName">{{friend.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" ng-if="showFullFriendsPage">
        <div class="col-md-2"></div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2"></div>
    </div>


</div>

