body {
}
#registerUser .container{
    width: 300px;
}

#loginUser .container{
    width: 300px;
}

#navUser{
    list-style-type:none;
}

#navUser li{
    display: inline-block;
    margin-right: 20px;
    height: 50px;
}

#navUser li *{
    cursor: pointer;
}

#navMessage{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

#username{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

#friendUsername{
    color: white;
}

#messageCount{
    position: relative;
    right: 20px;
    top: 9px;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 90px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: red;
    font-size: 12px;
}

#messageCount span{
    position: relative;
    top: -2px;
    right: -2px;
}

.dropdown-menu li{
    width: 300px;
    
}

.friendPart{
    border-bottom-width: 70px;
    border-bottom: 3px solid black;
    
}

.btn-accept-reject{
    width: 70px;
}

#searchbar input{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

#searchbar{
    position: relative;
}

#searchbar ul{
    list-style-type: none;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    z-index: 100;
    cursor: default;
}

#searchbar ul li{
    width: 200px;
    display: block;
    position: relative;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 62px;
}

#friends{
    border:1px solid red;
    cursor: pointer;
}

#friends ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    
}

#friends li{
    display:inline-block;
    width:100px;
    height: 100px;
    border: 2px solid orange;
}


.friendsName{
    position:relative;
    top:-25px;
    right:-10px;
    margin:0px;
    padding:0px;
    color:white;
}

#fullFriendPage{
    list-style: none;
}

#fullFriendPage li{
    display: inline-block;
    width: 400px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

#friendHeader{
    background-color: green;
    height: 100px;
}

#friendHeader img{
    padding-left: 10px;
    padding-top: 10px;
}

